:root {
    --poke-color: linear-gradient(to bottom, #f00000, #222224, #f0f0f0);
    /* --poke-bg-color: linear-gradient(.5turn, #ee1515, #f00000, #f0f0f0, #fff); */
    --bg-color: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
}

.container-fluid {
    padding: 5px;
}

.col-2 {
    color: gold;
}

.col-2 a {
    text-transform: uppercase;
    border: solid 1px gold;
    margin: 0;
    padding: 0 10px;
    font-size: 2rem;
}

.list-group {
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    border: solid 3px black;
    border-radius: 1%;
    background: url(../files/background4.jpg);
}

.list-group-item {
    margin: 2px;
    background: rgba(11, 11, 11, 0.7);
    border-radius: 10px;
}

.list-group-item:first-child,
.list-group-item:last-child {
    margin: 2px;
    border-radius: 10px;
}

.btn-light {
    background: var(--poke-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px silver;
    text-transform: capitalize;
    font-size: 0.85rem;
    color: rgb(248, 248, 248);
}

.btn-light:hover {
    color: white;
    transform: scale(1.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(../files/background4.png);
    background-size: 100% 100%;
    color: white;
}

.modal-title h1 {
    font-size: 2rem;
    color: rgb(43, 42, 41);
}

.modal-header,
.modal-footer {
    background: white;
}

.modal p {
    margin: 10px 0;
}

.modal-img {
    padding: 15px;
    background: rgba(173, 173, 165, 0.8);
    border: solid 3px black;
    border-radius: 8px;
}

.close {
    transform: scale(0.9);
}